@charset "UTF-8";

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

/* Tufte CSS styles */
html {
  font-size: 15px;
  --left-size: calc(100% - 300px - 50px);
  --right-size: 300px;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family:
    et-book, Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  background-color: #fffff8;
  color: #111;
  max-width: 1400px;
  counter-reset: sidenote-counter;
}
header {
  padding: 1rem 1rem 0;
  display: flex;
  gap: 32px;
  a {
    opacity: 0.55;
  }

  a img,
  a svg {
    width: 48px;
    height: 48px;
  }
  .logo > a:not(.is-active) {
    opacity: 1;
  }
  a,
  a strong {
    white-space: nowrap;
  }
  .languages > a {
    min-width: 1px;
    flex-shrink: 1;
  }
  .languages {
    align-items: flex-start;
    align-content: flex-start;
    width: var(--right-size);
    flex-wrap: wrap;
    max-width: calc(100% - 64px);
  }
}

/*faq styles*/

li:has(h4:first-child) {
  list-style: none;
}
li > h4 {
  margin-bottom: 0;
}
li > h4 + p {
  margin-top: 0.25rem;
}

nav {
  flex-grow: 1;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  > div > strong {
    width: 100px;
    display: inline-block;
  }

  body {
    padding: 0;
  }

  .document {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media (max-width: 1000px) {
  nav.main {
    gap: 32px;
  }

  header {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .languages {
    order: -1;
  }

  .logo {
    order: -2;
    margin-right: -16px;
  }

  nav.main strong {
    width: auto;
  }
}

.languages {
  display: flex;
  gap: 16px;
}

nav.pagination {
  padding-top: 16px;
  flex-direction: row;

  a {
    opacity: 0.5;
  }
}

*:target {
  background: var(--color-accent-bg);
  outline: 5px solid var(--color-accent-bg);
}
* {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

a.is-active.is-active.is-active {
  opacity: 1;
}

nav.pagination.top {
  padding-bottom: 16px;
}
nav.pagination.bottom {
  border-top: 1px solid #ccc;
}
nav.pagination {
  display: flex;
  justify-content: space-between;
}

p > code,
li > code,
h1 > code,
h2 > code,
h3 > code,
h4 > code,
strong > code,
em > code {
  background: rgba(0, 0, 0, 0.05);
  padding: 0.2em 0.4em;
  border-radius: 8px;
  margin: -0.2em;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
}
code.hljs {
  padding: 3px 5px;
} /*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #005cc5;
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  color: #e36209;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #22863a;
}
.hljs-subst {
  color: #24292e;
}
.hljs-section {
  color: #005cc5;
  font-weight: 700;
}
.hljs-bullet {
  color: #735c0f;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  color: #24292e;
  font-weight: 700;
}
.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}
/* Adds dark mode */
html.dark-scheme {
  body {
    background-color: #151515;
    color: #ddd;
  }
  pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }
  code.hljs {
    padding: 3px 5px;
  } /*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/
  .hljs {
    color: #c9d1d9;
    background: #0d1117;
  }
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: #ff7b72;
  }
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: #d2a8ff;
  }
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-variable {
    color: #79c0ff;
  }
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #a5d6ff;
  }
  .hljs-built_in,
  .hljs-symbol {
    color: #ffa657;
  }
  .hljs-code,
  .hljs-comment,
  .hljs-formula {
    color: #8b949e;
  }
  .hljs-name,
  .hljs-quote,
  .hljs-selector-pseudo,
  .hljs-selector-tag {
    color: #7ee787;
  }
  .hljs-subst {
    color: #c9d1d9;
  }
  .hljs-section {
    color: #1f6feb;
    font-weight: 700;
  }
  .hljs-bullet {
    color: #f2cc60;
  }
  .hljs-emphasis {
    color: #c9d1d9;
    font-style: italic;
  }
  .hljs-strong {
    color: #c9d1d9;
    font-weight: 700;
  }
  .hljs-addition {
    color: #aff5b4;
    background-color: #033a16;
  }
  .hljs-deletion {
    color: #ffdcd7;
    background-color: #67060c;
  }
}

h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

hr {
  display: block;
  height: 1px;
  width: var(--left-size);
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

.numeral {
  font-family: et-book-roman-old-style;
}

.danger {
  color: red;
}

article {
  position: relative;
  padding: 5rem 1rem;
  max-width: 1240px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  max-width: 1240px;
  margin: 0 auto;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
  margin: 5em 0;
}

div.epigraph > blockquote {
  margin-top: 3em;
  margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
  font-style: italic;
}

div.epigraph > blockquote > footer {
  font-style: normal;
}

div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  width: var(--left-size);
  margin-right: 40px;
}

blockquote footer {
  width: var(--left-size);
  font-size: 1.1rem;
  text-align: right;
}

section > p,
section > ul,
section > ol,
section > footer,
section > table {
  width: var(--left-size);
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
  width: 50%;
  -webkit-padding-start: 5%;
}

dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: var(--left-size);
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

a:link,
a:visited {
  color: inherit;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.05em;
}

/* Sidenotes, margin notes, figures, captions */
img {
  max-width: 100%;
}

@media (max-width: 759.99px) {
  .sidenote,
  .marginnote {
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 0.8rem;
    line-height: 1.3;
    vertical-align: baseline;
    width: max-content;
    max-width: 320px;
    position: absolute;
    left: calc(100% - 1.25rem);
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    padding: 1rem 1rem 1rem 1.25rem;
    border-radius: 8px 0 0 8px;
    transition:
      background-color 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    > :last-child {
      margin-bottom: 0;
    }
    &:before {
      position: absolute;
      content: '';
      width: 32px;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
    }
    &:after {
      content: '◄';
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 0.25rem;
      line-height: 1;
      font-size: 0.85rem;
      font-family: Arial;
      transform-origin: left top;
      transition:
        opacity 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
      transform: translateY(-50%);
      height: 0.85rem;
    }
    &:focus {
      background-color: rgba(0, 0, 0, 0.8);
      transform: translateX(calc(-100% + 1.25rem));
      &:after {
        opacity: 0;
      }
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    }
    > ul,
    > ol {
      list-style: none;
    }
  }
}
@media (min-width: 760px) {
  .sidenote,
  .marginnote {
    position: absolute;
    right: 0;
    width: var(--right-size);
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 0.9rem;
    line-height: 1.3;
    vertical-align: baseline;
    code {
      font-size: 0.9rem;
    }
  }
}
.marginnote p,
.marginnote li {
  font-size: 1rem;
  line-height: 1.3;
}
.marginnote > ul {
  margin-left: 0;
  padding-left: 0;
}
.marginnote > ul,
.marginnote > ol {
  list-style-type: none;
  > li + li {
    margin-top: 1rem;
  }

  > li > ul,
  > li > ol {
    list-style: circle;
  }
}
.marginnote > :first-child {
  margin-top: 0rem;
}

.back-link.back-link.back-link.back-link.back-link {
  font-size: 2rem;
  text-decoration: none;
  padding-bottom: 16px;
  opacity: 0.5;
  display: table;
  margin-top: 1rem;
}
.back-link ~ section h1:first-childч {
  margin-top: -4.5rem;
}
.back-link span {
  text-decoration: underline;
}
.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  font-family: et-book-roman-old-style;
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) ' ';
  font-size: 1rem;
  top: -0.5rem;
}

sup {
  display: inline-block;
  margin-top: -10px;
  margin-bottom: -10px;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', sans-serif;
}

.sans {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  letter-spacing: 0.03em;
}

code,
pre > code {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
  font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.8em;
}

.marginnote > code,
.sidenote > code {
  font-size: 1rem;
}

pre > code {
  font-size: 0.9rem;
  overflow-x: auto;
  display: block;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline-block;
  max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 760px) {
  hr,
  section > p,
  section > footer,
  section > table {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  section > dl,
  section > ol,
  section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  img {
    width: 100%;
  }
}

:root {
  --color-accent: #1e8ad6;
  --color-accent-bg: rgba(30, 138, 214, 0.1);
  --rehype-github-alerts-default-color: rgb(89, 99, 110);
  --rehype-github-alerts-note-color: rgb(9, 105, 218);
  --rehype-github-alerts-tip-color: rgb(26, 127, 55);
  --rehype-github-alerts-important-color: rgb(130, 80, 223);
  --rehype-github-alerts-warning-color: rgb(154, 103, 0);
  --rehype-github-alerts-caution-color: rgb(209, 36, 47);
  --rehype-github-alerts-default-space: 1rem;
  --rehype-github-alerts-default-fontFamily: inherit;
  --rehype-github-alerts-default-fontWeight: 500;
}

.dark-scheme {
  --color-accent: #1e8ad6;
  --color-accent-bg: rgba(30, 138, 214, 0.1)
    --rehype-github-alerts-default-color: rgb(145, 152, 161);
  --rehype-github-alerts-note-color: rgb(68, 147, 248);
  --rehype-github-alerts-tip-color: rgb(63, 185, 80);
  --rehype-github-alerts-important-color: rgb(171, 125, 248);
  --rehype-github-alerts-warning-color: rgb(210, 153, 34);
  --rehype-github-alerts-caution-color: rgb(248, 81, 73);
}

.markdown-alert {
  margin-left: -10px;
  width: var(--left-size);
  padding: calc(var(--rehype-github-alerts-default-space) / 2)
    var(--rehype-github-alerts-default-space);
  margin-bottom: var(--rehype-github-alerts-default-space);
  border-left: calc(var(--rehype-github-alerts-default-space) / 4) solid
    var(--rehype-github-alerts-default-color);
  font-family: var(--rehype-github-alerts-default-fontFamily);
}

.markdown-alert > :first-child {
  margin-top: 0;
}

.markdown-alert > :last-child {
  margin-bottom: 0;
}

.markdown-alert-note {
  border-left-color: var(--rehype-github-alerts-note-color);
}

.markdown-alert-tip {
  border-left-color: var(--rehype-github-alerts-tip-color);
}

.markdown-alert-important {
  border-left-color: var(--rehype-github-alerts-important-color);
}

.markdown-alert-warning {
  border-left-color: var(--rehype-github-alerts-warning-color);
}

.markdown-alert-caution {
  border-left-color: var(--rehype-github-alerts-caution-color);
}

.markdown-alert-title {
  display: flex;
  margin-bottom: calc(var(--rehype-github-alerts-default-space) / 4);
  align-items: center;
  font-weight: var(--rehype-github-alerts-default-fontWeight, 500);
}

.markdown-alert-note .markdown-alert-title {
  color: var(--rehype-github-alerts-note-color);
  fill: var(--rehype-github-alerts-note-color);
}

.markdown-alert-tip .markdown-alert-title {
  color: var(--rehype-github-alerts-tip-color);
  fill: var(--rehype-github-alerts-tip-color);
}

.markdown-alert-important .markdown-alert-title {
  color: var(--rehype-github-alerts-important-color);
  fill: var(--rehype-github-alerts-important-color);
}

.markdown-alert-warning .markdown-alert-title {
  color: var(--rehype-github-alerts-warning-color);
  fill: var(--rehype-github-alerts-warning-color);
}

.markdown-alert-caution .markdown-alert-title {
  color: var(--rehype-github-alerts-caution-color);
  fill: var(--rehype-github-alerts-caution-color);
}

.octicon {
  margin-right: calc(var(--rehype-github-alerts-default-space) / 2);
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
}

.anchor-link-button {
  position: absolute;
  padding: 0 10px;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: opacity 0.2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anchor-link-button:hover {
  opacity: 1;
}
