@charset "UTF-8";
@import 'rehype-callouts/theme/obsidian';
/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

/* Tufte CSS styles */
html {
  font-size: 15px;
  --left-size: calc(min(100vw, 1240px) - 300px - 50px);
  --right-size: 300px;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body {
  font-family:
    et-book, Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  color: #111;
  margin: 0 auto;
  counter-reset: sidenote-counter;
  background: #fffff8
    /* linear-gradient(to bottom, rgba(200, 200, 200, 0.4), rgba(0, 0, 0, 0) 200px)*/;
}
header {
  padding: 1rem 1rem 0;
  display: flex;
  gap: 32px;
  a {
    opacity: 0.55;
  }

  a img,
  a svg {
    width: 48px;
    height: 48px;
  }
  .logo > a:not(.is-active) {
    opacity: 1;
  }
  a,
  a strong {
    white-space: nowrap;
  }
  .languages > a {
    min-width: 1px;
    flex-shrink: 1;
  }
  .languages {
    align-items: flex-start;
    align-content: flex-start;
    width: var(--right-size);
    flex-wrap: wrap;
    max-width: calc(100% - 64px);
  }
}

/*faq styles*/

li:has(h4:first-child) {
  list-style: none;
}
li > h4 {
  margin-bottom: 0;
}
li > h4 + p {
  margin-top: 0.25rem;
}

nav {
  flex-grow: 1;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  > div > strong {
    width: 100px;
    display: inline-block;
  }

  body {
    padding: 0;
  }

  .document {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media (max-width: 1000px) {
  nav.main {
    gap: 32px;
  }

  header {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .languages {
    order: -1;
  }

  .logo {
    order: -2;
    margin-right: -16px;
  }

  nav.main strong {
    width: auto;
  }
}

.languages {
  display: flex;
  gap: 16px;
}

nav.pagination {
  padding-top: 16px;
  flex-direction: row;

  a {
    opacity: 0.5;
  }
}

*:target {
  background: var(--color-accent-bg);
  outline: 5px solid var(--color-accent-bg);
}
* {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

a.is-active.is-active.is-active {
  opacity: 1;
}

nav.pagination.top {
  padding-bottom: 16px;
}
nav.pagination.bottom {
  border-top: 1px solid #ccc;
}
nav.pagination {
  display: flex;
  justify-content: space-between;
}

p > code,
li > code,
h1 > code,
h2 > code,
h3 > code,
h4 > code,
strong > code,
em > code {
  background: rgba(218, 182, 120, 0.1);
  color: rgba(78, 49, 0, 1);
  padding: 0.2em 0.4em;
  border-radius: 8px;
  white-space: nowrap;
  margin: -0.2em;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
}

.term,
a.term,
a.term:link,
a.term:visited {
  font-size: inherit;
  font-weight: 500;
  white-space: nowrap;
  color: rgba(78, 49, 0, 0.8);
  text-decoration: none;
}

a.term:hover {
  text-decoration: underline;
}

.dark-scheme .term {
  color: rgba(218, 182, 120, 0.8);
}

code.hljs {
  padding: 3px 5px;
} /*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #005cc5;
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  color: #e36209;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #22863a;
}
.hljs-subst {
  color: #24292e;
}
.hljs-section {
  color: #005cc5;
  font-weight: 700;
}
.hljs-bullet {
  color: #735c0f;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  color: #24292e;
  font-weight: 700;
}
.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}
/* Adds dark mode */
html.dark-scheme {
  body {
    background-color: #151515;
    color: #ddd;
  }
  .callout {
    mix-blend-mode: lighten;
  }
}

.dark-scheme {
  p > code,
  li > code,
  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code,
  strong > code,
  em > code {
    background: rgba(78, 49, 0, 0.3);
    color: rgba(218, 182, 120, 0.8);
  }

  .dark-scheme .term {
    color: rgba(218, 182, 120, 0.8);
  }
}
.dark-scheme pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

.dark-scheme code.hljs {
  padding: 3px 5px;
}

.dark-scheme .hljs {
  color: #abb2bf;
  background: #282c34;
}

.dark-scheme .hljs-comment,
.dark-scheme .hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.dark-scheme .hljs-doctag,
.dark-scheme .hljs-formula,
.dark-scheme .hljs-keyword {
  color: #c678dd;
}

.dark-scheme .hljs-deletion,
.dark-scheme .hljs-name,
.dark-scheme .hljs-section,
.dark-scheme .hljs-selector-tag,
.dark-scheme .hljs-subst {
  color: #e06c75;
}

.dark-scheme .hljs-literal {
  color: #56b6c2;
}

.dark-scheme .hljs-addition,
.dark-scheme .hljs-attribute,
.dark-scheme .hljs-meta .hljs-string,
.dark-scheme .hljs-regexp,
.dark-scheme .hljs-string {
  color: #98c379;
}

.dark-scheme .hljs-attr,
.dark-scheme .hljs-number,
.dark-scheme .hljs-selector-attr,
.dark-scheme .hljs-selector-class,
.dark-scheme .hljs-selector-pseudo,
.dark-scheme .hljs-template-variable,
.dark-scheme .hljs-type,
.dark-scheme .hljs-variable {
  color: #d19a66;
}

.dark-scheme .hljs-bullet,
.dark-scheme .hljs-link,
.dark-scheme .hljs-meta,
.dark-scheme .hljs-selector-id,
.dark-scheme .hljs-symbol,
.dark-scheme .hljs-title {
  color: #61aeee;
}

.dark-scheme .hljs-built_in,
.dark-scheme .hljs-class .hljs-title,
.dark-scheme .hljs-title.class_ {
  color: #e6c07b;
}

.dark-scheme .hljs-emphasis {
  font-style: italic;
}

.dark-scheme .hljs-strong {
  font-weight: 700;
}

.dark-scheme .hljs-link {
  text-decoration: underline;
}

h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

hr {
  display: block;
  height: 1px;
  width: var(--left-size);
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

.numeral {
  font-family: et-book-roman-old-style;
}

.danger {
  color: red;
}

article {
  position: relative;
  padding: 5rem 1rem;
  max-width: 1240px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  max-width: 1240px;
  margin: 0 auto;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

svg p {
  font-size: inherit;
  line-height: inherit;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
  margin: 5em 0;
}

div.epigraph > blockquote {
  margin-top: 3em;
  margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
  font-style: italic;
}

div.epigraph > blockquote > footer {
  font-style: normal;
}

div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  width: var(--left-size);
  margin-right: 40px;
}

blockquote footer {
  width: var(--left-size);
  font-size: 1.1rem;
  text-align: right;
}

section > p,
section > ul,
section > ol,
section > footer,
section > table {
  width: var(--left-size);
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
  width: 50%;
  -webkit-padding-start: 5%;
}

dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: var(--left-size);
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

a:link,
a:visited {
  color: inherit;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.05em;
}

/* Sidenotes, margin notes, figures, captions */
img {
  max-width: 100%;
}

@media (max-width: 759.99px) {
  .sidenote,
  .marginnote {
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 0.8rem;
    line-height: 1.3;
    vertical-align: baseline;
    width: max-content;
    max-width: 320px;
    position: absolute;
    left: calc(100% - 1.25rem);
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    padding: 1rem 1rem 1rem 1.25rem;
    border-radius: 8px 0 0 8px;
    transition:
      background-color 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    > :last-child {
      margin-bottom: 0;
    }
    &:before {
      position: absolute;
      content: '';
      width: 32px;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
    }
    &:after {
      content: '◄';
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 0.25rem;
      line-height: 1;
      font-size: 0.85rem;
      font-family: Arial;
      transform-origin: left top;
      transition:
        opacity 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
      transform: translateY(-50%);
      height: 0.85rem;
    }
    &:focus {
      background-color: rgba(0, 0, 0, 0.8);
      transform: translateX(calc(-100% + 1.25rem));
      &:after {
        opacity: 0;
      }
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    }
    > ul,
    > ol {
      list-style: none;
    }
  }
}
@media (min-width: 760px) {
  .sidenote,
  .marginnote {
    position: absolute;
    right: 0;
    width: var(--right-size);
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 0.9rem;
    line-height: 1.3;
    vertical-align: baseline;
    code {
      font-size: 0.9rem;
    }
  }
}
.marginnote p,
.marginnote li {
  font-size: 1rem;
  line-height: 1.3;
}
.marginnote > ul {
  margin-left: 0;
  padding-left: 0;
}
.marginnote > ul,
.marginnote > ol {
  list-style-type: none;
  > li + li {
    margin-top: 1rem;
  }

  > li > ul,
  > li > ol {
    list-style: circle;
  }
}
.marginnote > :first-child {
  margin-top: 0rem;
}

.back-link.back-link.back-link.back-link.back-link {
  font-size: 2rem;
  text-decoration: none;
  padding-bottom: 16px;
  opacity: 0.5;
  display: table;
  margin-top: 1rem;
}
.back-link ~ section h1:first-childч {
  margin-top: -4.5rem;
}
.back-link span {
  text-decoration: underline;
}
.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  font-family: et-book-roman-old-style;
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) ' ';
  font-size: 1rem;
  top: -0.5rem;
}

sup {
  display: inline-block;
  margin-top: -10px;
  margin-bottom: -10px;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', sans-serif;
}

.sans {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  letter-spacing: 0.03em;
}

code,
pre > code {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 0.8em;
  line-height: 1.42;
}

.sans > code {
  font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.8em;
}

.marginnote > code,
.sidenote > code {
  font-size: 1rem;
}

pre > code {
  font-size: 0.9rem;
  overflow-x: auto;
  display: block;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline-block;
  max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 760px) {
  hr,
  section > p,
  section > footer,
  section > table {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  section > dl,
  section > ol,
  section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  img {
    width: 100%;
  }
}

.details {
  --rc-color-default: #57290c;
  overflow: hidden;
  margin: 1em 0;
  line-height: 1.3;
  padding: 0 12px 0 1rem;
  border-left: 2px dotted #ccc;
  outline: none;
  counter-increment: details-counter;
}
.details > summary {
  background-color: rgb(from var(--rc-color-light, var(--rc-color-default)) r g b / 0.1);
  padding: 0 12px;
  margin: 0 -12px 0 -12px;
  width: var(--left-size);
  position: relative;
  cursor: pointer;

  &:after {
    content: counter(details-counter);
    display: inline-block;
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    opacity: 0.3;
  }
}
.details > summary:hover {
  background-color: rgb(from var(--rc-color-light, var(--rc-color-default)) r g b / 0.2);
}
.details summary:before {
  width: 2rem;
}
.details[open] {
  margin-bottom: 3rem;
}
.details[open] summary:before {
  content: '▲';
}
.details:not([open]) summary:before {
  content: '▶';
}

.callout-title,
.details-summary {
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
}

.details > :not(summary):not(.columns):not(.marginnote) {
  max-width: var(--left-size);
}

.callout-content {
  margin-top: 1rem;
}
.callout-content > :first-child,
.callout-content > .marginnote:first-child + * {
  margin-top: 0;
}
.callout-content > :last-child {
  margin-bottom: 0;
}

.callout {
  max-width: var(--left-size);
}

.callout-title-icon {
  fill: currentColor;
}

.callout-title-text.callout-title-text {
  font-size: 1.25rem;
  letter-spacing: 0.01em;
}

[data-callout='headsup'] {
  --rc-color-light: var(--callout-tip-color-light, rgb(197, 146, 7));
  --rc-color-dark: var(--callout-tip-color-dark, rgb(197, 146, 7));
}
[data-callout='definition'] {
  --rc-color-light: var(--callout-tip-color-light, rgb(139, 123, 76));
  --rc-color-dark: var(--callout-tip-color-dark, rgb(197, 146, 7));
}
[data-callout='definition'] > .callout-title {
  display: inline-flex;
  vertical-align: baseline;
  align-items: baseline;
  margin-top: 0;
}
[data-callout='definition'] > .callout-title .callout-title-text {
  font-size: 1.35rem;
}
[data-callout='definition'] > .callout-title .callout-title-icon {
  align-self: center;
}
[data-callout='definition'] > .callout-content {
  display: inline;
}
[data-callout='definition'] > .callout-content > p:first-child {
  display: inline;
  &:before {
    content: ' — ';
  }
}
h1 + [data-callout='definition'],
h1 + .marginnote + [data-callout='definition'] {
  margin-left: 2rem;
  width: calc(var(--left-size) - 2rem);
}
h1 + .marginnote {
  margin-top: -3rem;
}
.anchor-link-button {
  position: absolute;
  padding: 0 10px;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: opacity 0.2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anchor-link-button:hover {
  opacity: 1;
}

.edgeLabel.edgeLabel.edgeLabel.edgeLabel {
  line-height: 1.2;
}

.limited-width {
  max-width: var(--left-size);
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr; /* Titles and content */
  column-gap: 2rem;
  row-gap: 0;
  margin-top: 2.5rem;
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.columns .column {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / 4;
}

.columns .column > h4 {
  grid-row: 1;
}
.columns .column > * {
  width: auto;
}

.columns .column > pre {
  min-width: 1px;
  grid-row: 3;
  /* Ensure pre block fills the row */
}

.column h4 {
  margin-top: 0;
}

details {
}

@media (max-width: 760px) {
  .columns {
    flex-direction: column;
    gap: 0;
  }
}

.columns > .column {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 1px;
  flex-basis: 20%;
  flex-direction: column;
}
.columns > .column > :last-child:not(p) {
  margin-bottom: 0;
}

.columns > .column > h4 {
  font-size: 1.25em;
}
.columns > .column > h4 + p {
  margin-top: 0;
  margin-bottom: 0;
}
.columns > .column > h4 + p + pre {
  margin-top: 1rem;
}

.columns > .column > pre {
  display: flex;
  flex-direction: column;
  margin-top: 0;

  code {
    flex-grow: 1;
  }
}

/* Tooltip for glossary terms */
.glossary-tooltip {
  position: absolute;
  z-index: 100;
  padding: 0 1rem;
  background: #ffc;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 100%;
  max-width: 450px;
  font-size: 1.15rem;
  color: #111;
  line-height: 1.5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.dark-scheme .glossary-tooltip {
  background: #333;
  color: #f1f1f1;
  border-color: #444;
}
